.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: -1px;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

/* Efecto de hover en la categoría */
.dropdown-submenu:hover > .dropdown-item {
    background-color: #f8f9fa; 
    color: #343a40; 
}

@media (max-width: 768px) {
    .dropdown-submenu > .dropdown-menu {
        display: none;
    }
    .dropdown-submenu.show > .dropdown-menu {
        display: block;
    }
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .add-to-cart {
    position: relative;
    z-index: 1;
}

.product-card .card-body {
    position: relative;
    z-index: 0;
}

.product-card .stretched-link {
    color: inherit;
    text-decoration: none;
}

.product-card .card-footer {
    text-align: center;
}

.btn-primary-custom {
    background-color: #F8B83D !important; /* Cambiar el color primario */
    border-color: #F8B83D !important;
    color: #fff !important;
  }

  .btn-primary-custom:hover {
    background-color: #eda621 !important; /* Cambiar el color primario */
    border-color: #eda621 !important;
  }

  .carousel-item img {
    object-fit: cover;
    height: 400px; /* Altura para pantallas grandes */
}

@media (max-width: 768px) {
    .carousel-item img  {
        height: 15%0px !important; /* Altura para pantallas móviles */
    }
}
.text-green {
    font-weight: bold;
    color: #3abd91;
}


